.section-edit-password{
    width: 100%;
    text-align: center;

}
.input-text{
    border:1px solid #ccc;
    width: 90%;
    margin: .5em auto;
    background-color:#fff;
    color: black;
    padding: 0.5em .2em;
    outline: none;
}
.textarea{
    text-align: left;
    padding: 10px;
    border:1px solid #ccc;
    width: 90%;
    outline: none;
    background-color:#fff;
    color: black;
    height:78px;
}